{% extends 'base.html' %}

{% block title %}
    Comentarios
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/buscador.css')}}">
{% endblock %}

{%block content %}

<table class="styled-table" style="width:100%" id="tabla">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Comentario</th>
    </tr>

{% for icomentario in data %}
    <tr>
    <td>{{icomentario.nombre}}</td>
    <td>{{icomentario.email}}</td>
    <td>{{icomentario.fecha}}</td>
    <td>{{icomentario.comentario}}</td>
    </tr>  
{% endfor %}  
</table>
<br>

<form action="{{ url_for('agregar_comentario', name=name_person)}}" method="get">
    <input type="submit" value="Agregar comentario">

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/redirect.js')}}"></script>
<script src="{{url_for('static', filename='js/search-bar.js')}}"></script>
{% endblock %}